header {
    background-color: rgb(232, 218, 233);
}

.nav-link {
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.logo {
    margin-left: 2rem;
}

h1 {
    background-color: rgb(255, 234, 255);
    padding: 2rem;
}

body {
    height: 100%;
}

.container {
    margin-top: 2rem;
}

:required
{
    background-color: rgba(238, 136, 136, 0.521);
}

html {
    margin-bottom: 100px;
}

.title {
    font-size: 20px;
    padding-left: 30px;
}